<h2>Register</h2>

<div class="registration-form-column">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="registration-form">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="registration-form">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="registration-form">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>

    <div class="registration-form">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="registration-form">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <p class="help-block">
      <ul>
        <li>Password must be between 8-16 characters long.</li>
      </ul>
    </p>

    <div class="registration-form">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>


    <div class="registration-form registration-form-column">
      <%= f.label :profile_Image %><br />
        <%= f.file_field :profile_img %>
    </div>

    <div class="registration-form registration-form-column">
      <label for="favourite_topic">Favourite Topic</label>
        <%= select_tag(:favourite_topic, options_from_collection_for_select(Tag.all, :id, :name)) %>
    </div>

    <div class="registration-form registration-form-column">
      <%= f.label :bio %><br />
      <%= f.text_area :bio %>
    </div>

    <div class="registration-form registration-form-column">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>

    <div class="registration-form-submit-wrap">
      <input class="registration-form-submit contribute" type="submit" value="Submit" />
    </div>

  <%= render "devise/shared/links" %>

  <% end %>
</div>