<h2>Register</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="registration-form-column">

    <div class="registration-form">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name" placeholder="your last name">
    </div>

    <div class="registration-form">
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="last_name" placeholder="your last name">
    </div>


    <div class="registration-form">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="registration-form">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <p class="help-block">
      <ul>
        <li>Password must be between 8-16 characters long.</li>
        <li>Password may not contain symbols (@ # $ % ^ & *...)</li>
      </ul>
    </p>

    <div class="registration-form">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="registration-form-column">
    <div class="registration-form">
      <label for="exampleInputFile">Profile Picture</label>
      <input type="file" id="exampleInputFile">
    </div>

    <div class="registration-form">
      <label for="favourite_topic">Favourite Topic</label>
      <select id="favourite_topic" name="favourite_topic">
        <option>Ruby on Rails</option>
        <option>CoffeeScript</option>
        <option>Meteor</option>
        <option>NodeJS</option>
        <option>Ember</option>
        <option>Angular JS</option>
        <option>Handlebars</option>
        <option>JavaScript</option>
        <option>Slim</option>
        <option>Other</option>
      </select>
    </div>

    <div class="registration-form">
      <label for="bio">Bio</label>
      <textarea id="bio" name="bio"></textarea>
    </div>

    <div class="registration-form">
      <label for="phone">Phone Number</label>
      <input type="text" id="phone" name="phone" placeholder="+852 1234 5678">
    </div>

    <div class="registration-form-submit">
      <div class="registration-form-submit-wrap">
        <%= f.submit "Submit" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

