  <h2>Sign in</h2>
  <div class="registration-form-column sign-in">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="registration-form sign-in">

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>
  </div>

  <div class="registration-form sign-in">
    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>
  </div>

  <div class="registration-form sign-in">
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
  </div>

  <div class="registration-form-submit">
    <div class="registration-form-submit-wrap">
      <div><%= f.submit "Sign in" %></div>
    <% end %>
  </div>

  <div class="sign-in-registration-form">
    <%= render "devise/shared/links" %>
  </div>
</div>