<h2><%= @user.username %>'s Profile</h2>

<div class="profile-img profile">
  <%= image_tag @user.profile_img.url(:medium), class: "img-circle" %>
</div>

<div class="profile">
  <div class="profile_name">
    <h4> Name: </h4>
    <h5> <%= @user.first_name %> <%= @user.last_name %> </h5>
  </div>

  <div class="profile_bio profile">
    <h4> Bio: </h4>
    <h5> <%= @user.bio %> </h5>
  </div>

</div>